section(class="bestsellers")
    div(class="container bestsellers__container")
        div(class="layout bestsellers__layout")
            div(class="bestsellers__wrap")
                h2(class="h bestsellers__h") Bestsellers
                a(class="btn bestsellers__btn" href="#") SHOP ALL
            div(class="swiper bestsellers__swiper swiper-bestsellers")
                div(class="swiper-wrapper swiper-bestsellers__wrapper")
                    each item in bestsellersList
                        div(class="swiper-slide swiper-bestsellers__slide slide-swiper-bestsellers")
                            a(class="card slide-swiper-bestsellers__body" href=item.href)
                                picture()
                                    source(
                                        type="image/webp" 
                                        srcset=`assets/img/bestsellers/${item.imgName}@2x.webp 2x, 
                                                assets/img/bestsellers/${item.imgName}@1x.webp 1x`
                                    )
                                    source(
                                        type="image/jpg" 
                                        srcset=`assets/img/bestsellers/${item.imgName}@2x.jpg 2x, 
                                                assets/img/bestsellers/${item.imgName}@1x.jpg 1x`
                                    )
                                    img(class="card__img slide-swiper-bestsellers__img" src=`assets/img/bestsellers/${item.imgName}@1x.jpg`, alt=item.imgAlt style="max-width: 100%")
                                div(class="card__info info-card slide-swiper-bestsellers__desc desc-slide-swiper-bestsellers")
                                    div(class="info-card__wrap desc-slide-swiper-bestsellers__wrap")
                                        div(class="info-card__inner")
                                            h3(class="info-card__title desc-slide-swiper-bestsellers__h")= item.title
                                            span(class="info-card__price")= item.price
                                        p(class="info-card__desc desc-slide-swiper-bestsellers__desc")= item.desc
                                    svg(class="info-card__add-cart desc-slide-swiper-bestsellers__add-cart" width="45" ViewBox="0 0 45 50")
                                        use(href="assets/img/defs.svg#add-cart")
                div(class="swiper-pagination swiper-bestsellers__pagination pagination-swiper-bestsellers")